<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">
<head>
<title>Assets</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div layout:fragment="content">
		<div class="page-header">
  			<h3>ยืนยันการสมัครเข้าร่วมกิจกรรมทดสอบความชำนาญ</h3>
		</div>
		
		<p>วันที่สมัคร : 1 กรกฎาคม 2557 </p>
		<p>กิจกรรมที่สมัคร</p>
		
		<table class="table table-condensed">
			<thead>
  				<tr>
  					<th>ตัวอย่าง</th>
  					<th>รายการ</th>
  					<th>ราคา (บาท)</th>
  					<th>เริ่มกิจกรรม</th>
  				</tr>
  			</thead>
  			<tbody>
  				<tr>
  					<td>Starch  (natural spiked sample)</td>
  					<td>Aerobic plate count (round 1)</td>
  					<td>1,000</td>
  					<td>13 มกราคม 2557</td>
  				</tr>
  				<tr>
  					<td>Flour</td>
  					<td>Moisture, Protein, Ash and pH (round 1)</td>
  					<td>1,500</td>
  					<td>27 มกราคม 2557</td>
  				</tr>
  				<tr>
  					<td> Water</td>
  					<td>pH-value (range : 4.0 - 7.0 and 8.0 - 10.0) </td>
  					<td>1,000</td>
  					<td>10 กุมภาพันธ์ 2557</td>
  				</tr>
  			</tbody>
  			<tfoot>
  				<tr>
  					<td colspan="2" align="center"><b> รวม 3 กิจกรรม </b></td>
  					<td><b>3,500</b></td>
  					<td></td>
  				</tr>
  			</tfoot>
		</table> 
		
		<div class="panel panel-default">
		<div class="panel-heading">
    		<h3 class="panel-title"><b>ชื่อ-ที่อยู่ เพื่อใช้ในการติดต่อสื่อสาร</b></h3>
  		</div>
  		<div class="panel-body">
		
		<form class="form-horizontal" role="form">
		  <div class="form-group">
		    <label for="input1" class="col-sm-2 control-label">ชื่อ-นามสกุล</label>
		    <div class="col-sm-10">
		      <input type="email" class="form-control" id="input1" value="นายชอบคิด ทำดี"/>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="input2" class="col-sm-2 control-label">ชื่อใช้ออกหนังสือราชการ</label>
		    <div class="col-sm-10">
		      <input type="email" class="form-control" id="input2" value="หัวหน้าห้องปฏิบัติการควบคุมคุณภาพ"/>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="input4" class="col-sm-2 control-label">ชื่อหน่วยงาน/บริษัท (ภาษาไทย)</label>
		    <div class="col-sm-10">
		      <input type="email" class="form-control" id="input4" value="บริษัทน้ำดื่มสะอาดจำกัด"/>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="input5" class="col-sm-2 control-label">ชื่อหน่วยงาน/บริษัท (ภาษาอังกฤษ)</label>
		    <div class="col-sm-10">
		      <input type="email" class="form-control" id="input5" value="Clean Water Company"/>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="input6" class="col-sm-2 control-label">ที่อยู่</label>
		    <div class="col-sm-10">
		      <input type="email" class="form-control" id="input7" value="345 ถ.นครราชสีมา "/>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="input7" class="col-sm-2 control-label"> </label>
		    <div class="col-sm-10">
		      <input type="email" class="form-control" id="input7" value="345 ถ.นครราชสีมา "/>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="input8" class="col-sm-2 control-label"> แขวง/ตำบล</label>
		    <div class="col-sm-10">
		      <input type="email" class="form-control" id="input7" value="ดุสิต"/>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="input8" class="col-sm-2 control-label"> เขต/อำเภอ</label>
		    <div class="col-sm-10">
		      <input type="email" class="form-control" id="input7" value="ดุสิต"/>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="input8" class="col-sm-2 control-label"> จังหวัด</label>
		    <div class="col-sm-10">
		      <input type="email" class="form-control" id="input7" value="กรุงเทพมหานคร"/>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="input8" class="col-sm-2 control-label"> โทรศัพท์</label>
		    <div class="col-sm-10">
		      <input type="email" class="form-control" id="input7" value="0-2549-2478"/>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="input8" class="col-sm-2 control-label"> โทรสาร</label>
		    <div class="col-sm-10">
		      <input type="email" class="form-control" id="input7" value="0-2549-2479"/>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="input8" class="col-sm-2 control-label"> Email</label>
		    <div class="col-sm-10">
		      <input type="email" class="form-control" id="input7" value="ctumdee@cleanwater.co.th"/>
		    </div>
		  </div>
		</form>
		</div>
		
		</div>
		
		<div class="panel panel-default">
		<div class="panel-heading">
    		<h3 class="panel-title"><b>ชื่อ-ที่อยู่ สำหรับออกใบเสร็จรับเงิน</b></h3>
  		</div>
  		<div class="panel-body">
  			<input type="checkbox" checked="checked"/> ใช้ที่อยู่เดียวกันกับข้างบน 
		</div>
		</div>
		
		<input type="checkbox"/> ยืนยันการสมัครเข้าร่วมกิจกรรม
		<br/><button type="button" class="btn btn-primary">กลับไปหน้าเลือกกิจกรรม</button>  <button type="button" class="btn btn-primary">ลงทะเบียน</button>
	</div>
</body>
</html>