<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">
<head>
<title>Asset Models</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div layout:fragment="content">
		<div class="page-header">
  			<h3>กิจกรรมทดสอบความชำนาญ ปีงบประมาณ 2557</h3>
		</div>
		
		<h4>กรุณาเลือกกิจกรรมที่ต้องการสมัคร</h4>
		
		<table class="table table-bordered">
  			<thead>
  				<tr>
  					<th>สาขา</th>
  					<th>ตัวอย่าง</th>
  					<th>รายการ</th>
  					<th>ราคา (บาท)</th>
  					<th>เริ่มกิจกรรม</th>
  				</tr>
  			</thead>
  			<tbody>
  				<tr>
  					<td rowspan="5">อาหาร</td>
  					<td><input type="checkbox"/> Feeding Stuffs</td>
  					<td>Water - soluble chlorides (as NaCl)</td>
  					<td>1,000</td>
  					<td>6 มกราคม 2557</td>
  				</tr>
  				<tr>
  					<td><input type="checkbox"/> Starch  (natural spiked sample)</td>
  					<td>Aerobic plate count (round 1)</td>
  					<td>1,000</td>
  					<td>13 มกราคม 2557</td>
  				</tr>
  				<tr>
  					<td><input type="checkbox"/> Starch  (natural spiked sample)</td>
  					<td>Aerobic plate count (round 2)</td>
  					<td>1,000</td>
  					<td>30 มิถุนายน 2557</td>
  				</tr>
  				<tr>
  					<td><input type="checkbox"/> Flour</td>
  					<td>Moisture, Protein, Ash and pH (round 1)</td>
  					<td>1,500</td>
  					<td>27 มกราคม 2557</td>
  				</tr>
  				<tr>
  					<td><input type="checkbox"/> Flour</td>
  					<td>Moisture, Protein, Ash and pH (round 2)</td>
  					<td>1,500</td>
  					<td>16 มิถุนายน 2557</td>
  				</tr>
  				<tr>
  					<td rowspan="6">สิ่งแวดล้อม</td>
  					<td><input type="checkbox"/> Water</td>
  					<td>Heavy metals (As, Cd, Cr, Cu, Fe, Mn, Ni, Pb and Zn) (range : less than 5 mg/L for each element)</td>
  					<td>2,500</td>
  					<td>13 มกราคม 2557</td>
  				</tr>
  				<tr>
  					<td><input type="checkbox"/> Water</td>
  					<td>pH-value (range : 4.0 - 7.0 and 8.0 - 10.0) </td>
  					<td>1,000</td>
  					<td>10 กุมภาพันธ์ 2557</td>
  				</tr>
  				<tr>
  					<td><input type="checkbox" disabled="disabled" checked="checked"/> Water *</td>
  					<td>Total Hardness (as CaCo3) range: 50 - 500 mg/L and Chlorides (as Cl) range: Less than 100 mg/L</td>
  					<td>1,200</td>
  					<td>3 มีนาคม 2557</td>
  				</tr>
  				<tr>
  					<td><input type="checkbox" disabled="disabled" checked="checked"/> Water *</td>
  					<td>Total suspended solids (TSS) (range : 50-500 mg/L and 600-1000 mg/L)</td>
  					<td>1,000</td>
  					<td>10 มีนาคม 2557</td>
  				</tr>
   				<tr>
  					<td><input type="checkbox" disabled="disabled" checked="checked"/> Water *</td>
  					<td>Total dissolved solids (TDS) (range : 50-500 mg/L and 600-1000 mg/L)</td>
  					<td>1,000</td>
  					<td>10 มีนาคม 2557</td>
  				</tr>
  				<tr>
  					<td><input type="checkbox"/> Water</td>
  					<td>Chemical Oxygen Demand (COD) (range : 50 - 200 mg/L and 400 – 600 mg/L)</td>
  					<td>1,200</td>
  					<td>23 มิถุนายน 2557</td>
  				</tr>
  				<tr>
  					<td rowspan="2">เคมี</td>
  					<td><input type="checkbox"/> Standard solution</td>
  					<td>Hydrochloric acid (HCl) and Ethylenediaminetetraacetic acid (EDTA) solution (range : less than 0.2 M)</td>
  					<td>1,000</td>
  					<td>27 มกราคม 2557</td>
  				</tr>
  				<tr>
  					<td><input type="checkbox"/> Standard solution</td>
  					<td>Potassium dichromate solution (K2Cr2O7) (range : 0.01- 1.0 M.) (Pilot study)</td>
  					<td>-</td>
  					<td>3 กุมภาพันธ์ 2557</td>
  				</tr>
  			</tbody>
		</table>
		
		<p>* <input type="checkbox" disabled="disabled" checked="checked"/> กิจกรรมนี้สมัครแล้ว </p>
		
		<button type="button" class="btn btn-primary">สมัครเข้าร่วมกิจกรรมที่เลือก</button>
		
	</div>
</body>
</html>